.home {
	display: flex;
	flex-direction: column;

	@include desktop {
		padding: 100px 150px;
		padding-bottom: 50px;
		gap: 200px 0;
	}

	@include devices {
		overflow-x: hidden;
		padding: 20px;
		width: 100vw;
		gap: 20px 0;
	}
}

h1 {
	font-weight: 700;
	font-style: normal;
	line-height: $line-height-primary;

	@include desktop {
		font-size: 36px;
	}

	@include devices {
		font-size: 28px;
	}
}

h2 {
	font-weight: 700;
	font-style: normal;
	line-height: normal;

	@include desktop {
		font-size: 24px;
	}

	@include devices {
		font-size: 20px;
	}
}

.share-social {
	display: flex;
	gap: 20px;

	&__img {
		width: 25px;
		height: 25px;
	}

	&__button {
		border: none;
		padding: 0;
		background: transparent;
	}
}

.section {
	position: relative;
	padding: env(safe-area-inset-right, 12px) env(safe-area-inset-left, 12px);
}

.is-browser-ie {
	overflow: hidden;
	height: 100vh;
}

.info-browser-ie {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	padding: 100px;
	width: 100vw;
	height: 100vh;
	font-size: 18px;
	line-height: normal;
	text-align: center;
	background: $color-white;

	&__title {
		padding: 20px;
		font-size: 20px;
	}

	&__text {
		padding: 20px;
	}
}
