.home {
	display: flex;
	flex-direction: column;

	@include desktop {
		@include gap-row(200px);

		padding: 100px 150px;
		padding-bottom: 50px;
	}

	@include devices {
		@include gap(20px);

		overflow-x: hidden;
		padding: 20px;
		width: 100vw;
	}
}

h1 {
	font-weight: 700;
	font-style: normal;
	line-height: $line-height-primary;

	@include desktop {
		font-size: 36px;
	}

	@include devices {
		font-size: 28px;
	}
}

h2 {
	font-weight: 700;
	font-style: normal;
	line-height: normal;

	@include desktop {
		font-size: 24px;
	}

	@include devices {
		font-size: 20px;
	}
}

.share-social {
	@include gap-column(20px);

	display: flex;

	&__img {
		width: 25px;
		height: 25px;
	}

	&__button {
		border: none;
		padding: 0;
		background: transparent;
	}
}

.section {
	position: relative;
	padding: env(safe-area-inset-right, 12px) env(safe-area-inset-left, 12px);
}

.is-browser-ie {
	overflow: hidden;
	height: 100vh;
}
