::-webkit-scrollbar-button {
	width: 7px;
	height: 7px;
	background-image: url("");
	background-repeat: no-repeat;
}

::-webkit-scrollbar-track {
	background-color: $color-white;
}

::-webkit-scrollbar-thumb {
	border-radius: 100px;
	box-shadow: 0 0 0 transparent inset;
	background-color: $color-black;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

:root {
	scrollbar-color: $color-black $color-white;
	scrollbar-width: thin;
}