header.header
	.container
		button.header__burger.btn.js-burger(type="button" aria-label="меню")
			span
			span
			span
		nav.header__menu
			ul.header__list(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
				each object, key in data.header.menu
					li.header__link
						a(
							href=object.url
							data-link=key
							itemprop="url"
						).js-to-scroll
							!= object.name
			.header__img
				+lazyPicture({
					src: `${baseDir}images/base/hourglass`,
					alt: 'Время меню',
					type: 'png',
					retina: true,
					webp: true
				})